
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>abc</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<a href="/list">Back list</a>
<div>
    <p>Title :</p>
    <input type="text" id="title">
    <p>Content :</p>
    <textarea id="content"  rows="4" cols="50"></textarea>
    <p>Date Write :</p>
    <input type="date" id="date">
    <p>Category</p>
    <select  id="category">
        <option th:each="category : ${listCategory}" th:text="${category.name} " th:value="${category.id}"></option>
    </select>
    <input type="button" id="buttonClick" value="Save">
</div>
<script>
    $(document).ready(function () {
        $('#buttonClick').click(function (event) {
            var title = document.getElementById("title").value;
            var content = document.getElementById("content").value;
            var date = document.getElementById("date").value;
            var category = document.getElementById("category").value;
            var jsonText = {
                title:title,
                content:content,
                date:date,
                category:{
                    "id":category
                }
            }

            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                data: JSON.stringify(jsonText),
                //tên API
                url: "/add",
                //xử lý khi thành công
                success: function (event) {
                    alert("Thêm mới thành công")
                }

            });

        })

    })
</script>
</body>
</html>
</body>
</html>