<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<tr th:each="list : ${findById}">
    <td>ID :</td>
    <td th:text="${list.id}"></td>
    <td>TITLE :</td>
    <td th:text="${list.title}"></td>
    <td>CONTENT :</td>
    <td th:text="${list.content}"></td>
    <td>DATE :</td>
    <td th:text="${list.dateWrite}"></td>
    <td>CATEGORY :</td>
    <td th:text="${list.category.name}"></td>


</tr>
</body>
</html>