<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create">Create Product</a>
<table>
    <tr>
        <th>STT</th>
        <th>ID</th>
        <th>TITLE</th>
        <th>CONTENT</th>
        <th>DATE</th>
        <th>CATEGORY</th>
        <th>EDIT</th>
        <th>DELETE</th>
    </tr>
    <tr th:each="blog,loop : ${list}">
        <td th:text="${loop.count}"></td>
        <td >
            <a th:href="@{/findById/__${blog.id}__}" th:text="${blog.id}"></a>
        </td>
        <td th:text="${blog.title}"></td>
        <td th:text="${blog.content}"></td>
        <td th:text="${blog.dateWrite}"></td>
        <td th:text="${ blog.category.name}"></td>
        <td><a th:href="@{/edit/__${blog.id}__}">Edit</a></td>
        <td><a class="deleteSmartphone" th:href="@{/remove/__${blog.getId()}__}">Delete</a></td>


    </tr>
</table>
<script>
    $(document).ready(function () {
        $('.deleteSmartphone').click(function (event) {
            event.preventDefault();
            //lay du lieu
            var a = $(this);
            var blogId  = a.attr("href");
            // goi ajax
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "DELETE",
                url: '/remove/'+blogId,
                data: JSON.stringify(jsonText),
                success: function (data) {
                    a.parent().parent().remove();
                    alert("Xoá thành công")
                }

            });

        });
    })
</script>
<div>
    <a th:if = "${list.hasPrevious()}" th:href="@{/list(page = ${list.number - 1})}">Previous</a>
    <span th:text="${list.number + 1}"></span>/
    <span th:text="${list.totalPages}"></span>
    <a th:if = "${list.hasNext()}" th:href="@{/list(page = ${list.number + 1})}">Next</a>
</div>
</body>
</html>