<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create">Create Product</a>
<!--<form action="/search" method="get" >-->
<!--    <input type="text" name="title">-->
<!--    <button type="submit">Search</button>-->
<!--</form>-->
<table>
    <tr>
        <th>ID</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>OLD</th>
        <th>PHONE NUMBER</th>
        <th>EMAIL</th>


    </tr>
    <tr th:each="user: ${list}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.old}"></td>
        <td th:text="${user.phone}"></td>
        <td th:text="${user.email}"></td>

    </tr>
</table>

</body>
</html>