<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<tr th:each="list : ${findById}">
    <td>ID :</td>
    <td th:text="${list.id}"></td>
    <td>NAME :</td>
    <td th:text="${list.nameProduct}"></td>
    <td>PRICE :</td>
    <td th:text="${list.price}"></td>
    <td>DESCRIPTION :</td>
    <td th:text="${list.description}"></td>
    <td>PRODUCER :</td>
    <td th:text="${list.producer}"></td>


</tr>
</body>
</html>