<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create">Create Product</a>
<form action="/search" method="get" >
    <input type="text" name="name">
    <button type="submit">Search</button>
</form>
<table>
    <tr>
        <th>STT</th>
        <th>ID</th>
        <th>NAME</th>
        <th>ARTIST</th>
        <th>TYPE MUSIC</th>
        <th>PATH</th>
        <th>EDIT</th>
        <th>DELETE</th>
    </tr>
    <tr th:each="music,loop : ${listMusic}">
        <td th:text="${loop.count}"></td>
        <td th:text="${music.id}"></td>
        <td th:text="${music.name}"></td>
        <td th:text="${music.artist}"></td>
        <td th:text="${music.typeMusic}"></td>
        <td >
            <audio controls>
                <source src="../D:\C0222G1-Module 4\ss5_orm\exercise\src\main\webapp\WEB-INF\music.mp3">
            </audio>
        </td>
        <td><a th:href="@{/edit/__${music.id}__}">Edit</a></td>
        <td><a th:href="@{/delete/__${music.id}__}">Delete</a></td>

    </tr>
</table>
</body>
</html>