<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create">Create</a>
<table style="border: 1px">
    <tr>
        <th>STT</th>
        <th>ID</th>
        <th>NAME</th>
        <th>ADDRESS</th>
    </tr>
    <tr th:each="product,loop : ${list}">
        <td th:text="${loop.count}"></td>
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.address}"></td>


    </tr>
</table>
</body>
</html>