<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/list">Back list</a>
<form th:action="@{/edit}" method="post" th:object="${music}">
    <div>
        <td>ID</td>
        <input type="text" th:field="*{id}" readonly>
    </div>

    <div>
        <td>NAME</td>
        <input type="text" th:field="*{name}">
        <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    </div>
    <div>
        <td>SINGLE</td>
        <input type="text" th:field="*{single}">
        <p style="color: red" th:if="${#fields.hasErrors('single')}" th:errors="*{single}"></p>
    </div>
   <div>
       <td>TYPE MUSIC</td>
       <input type="text" th:field="*{typeMusic}">
       <p style="color: red" th:if="${#fields.hasErrors('typeMusic')}" th:errors="*{typeMusic}"></p>
   </div>
    <tr>
        <button type="submit">UPDATE</button>
    </tr>
</form>
</body>
</html>